@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,200;1,500;1,800&display=swap');

* {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}

.text-primary {
    font-weight: 800;
    margin-left: 5px;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar-container {
    left: 30px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* Header */

.nav {
    transition: all .4s linear;
    height: 70%;
}

.nav.blurred {
    transition: all .4s linear;
    opacity: 0.5;
}

.nav:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
}

.nav:hover:before {
    visibility: visible;
    width: 100%;
}

.water-nav:hover:before {
    background-color: rgb(15, 52, 187);
}

.nutrition-nav:hover:before {
    background-color: rgb(124, 51, 51);
}

.exercise-nav:hover:before {
    background-color: rgb(39, 99, 39);
}

.logo {
    position: relative;
    bottom: 2px;
}

.section-navigation {
    width: 500px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.section-navigation>.nav {
    position: relative;
    top: 20px;
}

.nav-text {
    position: relative;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5px;
    bottom: 3px;
}

i {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
}

.user-info {
    position: relative;
    top: 3px;
    width: 150px;
}

.hero {
    position: relative;
    height: 100vh;
    background: url('images/hero/hero.jpg') no-repeat center center/cover;
}

#sections-navigation-links {
    position: absolute;
    display: flex;
    left: 50%;
    top: 50%;
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#sections-navigation-links>a {
    width: 33%;
    padding: 20px;
    margin: 0 20px;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 800;
    border-radius: 10px;
    border: 2px solid white;
    transition: all .4s linear;
}

#sections-navigation-links>a:hover {
    transition: all .4s linear;
}

#sections-navigation-links .nutrition-link:hover {
    background: rgba(124, 51, 51, .6);
}

#sections-navigation-links .exercise-link:hover {
    background: rgba(39, 99, 39, .6);
}

#sections-navigation-links .water-link:hover {
    background: rgba(15, 52, 187, .6);
}

/* Overview */

#overview {
    height: 1000px;
}

.overview-header {
    font-size: 28px;
}

.signin-button {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    font-size: 20px;
}

.signin-button:hover {
    cursor: pointer;
}

/* Nutrition */
#nutrition {
    height: 1000px;

}
/* Exercise */
#exercise {
    height: 1000px;
    background-color: red;
    opacity: .1;
}
/* Water */
#water {
    height: 1000px;
    background-color: blue;
    opacity: .1;
}